body{
    background-color: rgb(163, 151, 147);
    height: 100%;
    margin-top: 5%;
    padding: 0;
    font-size: 62.5%;
}

h1{
    font-weight: 600;
    font-size: 45px;
    text-align: center;
    margin-bottom: 50px;
    color: blue;
}
.wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    height: 100%;
}

.rods{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    width: 100%;
    max-width: 35rem;
}
.rod{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    width: 0.5rem;
    height: 25rem;
    background-color: rgb(222, 224, 107);
    border-radius: 5px;

}
.base{
    width: 50rem;
    height: 20px;
    display: flex;
    background-color: rgb(136, 203, 158);
    margin-top: -2.4rem;
    border-radius: 5px;

}
.btn{
    border: 1px solid black;
    background: rgb(230, 97, 9);
    padding: 7px 16px;
    color: black;
    font-style:italic;
    font-weight:500;
}
.disk{
    width: 8rem;
    height: 1.5rem;
    background-color: white;
    border-radius: 8px;
    margin-bottom: 10px;
}
.disk1{
    width: 8rem;
    height: 1.5rem;
    background-color: black;
    border-radius: 8px;
    margin-bottom: 10px;
}